<h1>{{ title }}</h1>
<form class="password-form" [formGroup]="addPasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nom du compte</mat-label>
    <input matInput formControlName="name" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Application</mat-label>
    <mat-select formControlName="applicationId" required>
      <mat-option *ngFor="let app of applications" [value]="app.idApplication">{{ app.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Type d'application</mat-label>
    <mat-select formControlName="applicationType" required>
      <mat-option *ngFor="let type of applicationTypes" [value]="type.id">{{ type.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput formControlName="password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Ajouter</button>
</form>
